<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
 
	<mvc:annotation-driven />
	<context:component-scan
		base-package="com.gofounder.controller" />
	<mvc:default-servlet-handler />
 
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	
	<bean id="customFileValidator" class="com.gofounder.validator.CustomFileValidator" />
	 <bean id="userService" class="com.gofounder.service.UserServiceImpl" />
	 	<bean id="inviteeService" class="com.gofounder.service.InviteeServiceImpl" />
    <bean id="inviteeDao" class="com.gofounder.dao.InviteeDaoImpl" />
    <bean id="userDao" class="com.gofounder.dao.UserDaoImpl" />
    <bean id="invitationsServiceImpl" class="com.gofounder.service.InvitationsServiceImpl" />
    <bean id="invitationDaoImpl" class="com.gofounder.dao.InvitationDaoImpl" />
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="datasource" />
    </bean>
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
         <property name="url" value="jdbc:mysql://localhost:3306/go_founder_java" />  
       <!-- <property name="url" value="jdbc:mysql://localhost:3306/local" /> -->
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    
    
    <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- setting maximum upload size -->
		<property name="maxUploadSize" value="30000000" />

	</bean>
	
	<bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
 
        <property name="basename" value="/WEB-INF/messages" />
    </bean>
    
    
	
	
	<mvc:resources mapping="/images/**" location="/WEB-INF/images/" cache-period="31556926"/>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	    <!-- SMTP settings -->
	    <property name="host" value="webmail.inventiotechnologies.com" />
	    <!-- <property name="port" value="SMTP_PORT" /> -->
	    <property name="username" value="debraj@inventiotechnologies.com" />
	    <property name="password" value="debraj@inventio324" />
	 
	    <property name="javaMailProperties">
	        <!-- additional properties specific to JavaMail -->
	        <props>
	            <!-- <prop key="mail.transport.protocol">smtp</prop> -->
	            <prop key="mail.smtp.auth">true</prop>
	            <!-- <prop key="mail.smtp.starttls.enable">true</prop> -->
	        </props>
	    </property>
	</bean>
	
	</beans>